.main_group_list
  
  .main_group_list__main_header
    .main_group_list__main_header__tmp
      .main_group_list__main_header__tmp__main_test
        = @group.name
      .main_group_list__main_header__tmp__main_member
        - @group.users.each do |user|
          Member :
          = user.name

    .main_group_list__main_header__main_edit
      = link_to edit_group_path(@group.id) do
        edit

  .main_chat
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'input-box__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'send', class: 'send'